body {
        background-color: lightgrey;
        }

.navbar, .navbar-expand-lg{
        margin-top: 50px;
        }

.navbar, .navbar-expand-lg, .reg-form {
        border-radius: 5px;
        }

.reg-form {
        margin-top: 20px;
        padding: 20px 25px;
        color: white;
        }